body{
    background-color: aqua;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

a:hover{
    padding: 8px;
    margin-right: 8px;
    transition: ease;
    transition-duration: 1s;
    background-color: darkslateblue;
    color: white;
    border-radius: 8px;
}

a:active{
    padding: 8px;
    margin-right: 8px;
    transition: ease;
    transition-duration: 1s;
    background-color: darkslateblue;
    color: white;
    border-radius: 8px;
}

.foto-efeito{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-placa{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-radiacao{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}