body{
    background-color: aqua;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

input,button{
    background-color: black;
    font-size: 1.25rem;
    color: white;
    border-radius: 8px;
}

a:hover{
    padding: 8px;
    margin-right: 8px;
    transition: ease;
    transition-duration: 1s;
    background-color: darkslateblue;
    color: white;
    border-radius: 8px;
}

a:active{
    padding: 8px;
    margin-right: 8px;
    transition: ease;
    transition-duration: 1s;
    background-color: darkslateblue;
    color: white;
    border-radius: 8px;
}

.foto-efeito iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-placa iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}

.foto-radiacao iframe{
    width: 340px;
    height: 360px;
    border-radius: 16px;
}